<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aclass.panther.uwm.pantherquiz">
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.aclass.panther.uwm.pantherquiz.MainActivity">

        </activity>
        <activity android:name="com.aclass.panther.uwm.pantherquiz.StudentLogin">
        </activity>
        <activity android:name="com.aclass.panther.uwm.pantherquiz.SignUpActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.aclass.panther.uwm.pantherquiz.BaseActivity" />
        <activity
            android:name="com.aclass.panther.uwm.pantherquiz.TakeQuizActivity"
            android:label="@string/title_take_quiz_activity"
            android:parentActivityName="com.aclass.panther.uwm.pantherquiz.QuizDetailActivity" >
            <meta-data

                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aclass.panther.uwm.pantherquiz.QuizDetailActivity"
                />



        </activity>
        <activity
            android:name="com.aclass.panther.uwm.pantherquiz.ClassListActivity"
            android:label="@string/title_class_list_activity" />
        <activity
            android:name="com.aclass.panther.uwm.pantherquiz.QuizListActivity"
            android:label="@string/title_quiz_list_activity"
            android:parentActivityName="com.aclass.panther.uwm.pantherquiz.ClassListActivity"
            />
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.aclass.panther.uwm.pantherquiz.QuizDetailActivity"
            />

        <activity
            android:name="com.aclass.panther.uwm.pantherquiz.QuizDetailActivity"
            android:label="@string/title_quiz_detail_activity" />
        <activity
            android:name="com.aclass.panther.uwm.pantherquiz.QuizReportByClassActivity"
            android:label="@string/title_quiz_report_by_class_activity" />
        <activity
            android:name="com.aclass.panther.uwm.pantherquiz.QuizQuestionsReportActivity"
            android:label="@string/title_quiz_questions_report_activity" />
        <activity
            android:name="com.aclass.panther.uwm.pantherquiz.UserSettingsActivity"
            android:label="@string/title_user_settings_activity" />
        <activity
            android:name="com.aclass.panther.uwm.pantherquiz.UserManualActvity"
            android:label="@string/title_activity_user_manual_actvity" />
    </application>

</manifest>