<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aclass.panther.uwm.pantheractive">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

            <!-- <intent-filter> -->
            <!-- <action -->
            <!-- android:name="android.intent.action.MAIN" -->
            <!-- android:label="@string/app_name" -->
            <!-- android:theme="@style/AppTheme" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".StudentLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StudentHome"
            android:label="Home " />
        <activity android:name=".NewClassRoom" />
        <activity android:name=".MultipleChoiceFactory" />
        <activity android:name=".TrueFalseFactory" />
        <activity android:name=".ReportsStudentView" />
        <activity
            android:name=".SignUpActivity"
            android:label="Sign Up" />
        <activity android:name=".BaseActivity" />
        <activity
            android:name=".TakeQuizActivity"
            android:label="Quiz  " />
        <activity
            android:name=".QuizActivity"
            android:label="Quiz" />
        <activity
            android:name=".ClassListActivity"
            android:label="Class List" />
        <activity
            android:name=".QuizListActivity"
            android:label="Quiz List"></activity>
        <activity android:name=".TakeQuestionActivity2"></activity>
    </application>

</manifest>